/* @font-face {
  font-family: Roboto; 
  src: url('../fonts/Roboto/Roboto-Light.ttf');
} */

html {
  font-size:10px;
  font-family: Roboto; 

}

body {
  margin:0;
  background-color:#FACC40;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-table__name-shop { 
  font-size:2.5rem;
  margin-left:2rem;
}


.product-table__table {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}


