.wrapper-products {
    display:flex;
    border: 2px solid #000;
    margin-bottom:1rem;
  }

  .product-table__table {
    width:70%;
  }
  
  .wrapper-products_delete {
    display:none;
  }
  
  .product-table__table-product {
    display:flex;
    justify-content: space-between;
    width:75%;
    border-right: 1px solid #000; 
  }
  
  .product-table__table-product_active{
    background:red;
    display:flex;
    justify-content: space-between;
    width:75%;
    border-right: 1px solid #000; 
  }
  
  .product-attribute {
    flex-direction:column;
    justify-content: space-between;
    width:15%;
    text-align: center;
    font-size:2rem;
    display:flex;
  }
  
  .button-delete {
    width:12.5%;
    height:30%;
    align-self:center;
  }

  .button-edit {
    width:12.5%;
    height:30%;
    align-self:center;
  }
  
  .column-name {
    border-bottom: 1px solid #000;
    margin:0;
    padding:1.5rem;
  }
  
  .text {
    min-height:50%;
  }
  
  .product-table__table-product--image {
    width:20%;
  }
  
  .product-attribute:nth-child(2) {
    width:30%;
  }
  
  .product-attribute:nth-child(3) {
    width:30%;
  }
  
  .product-attribute:nth-child(4) {
    width:30%;
  }